{% extends "store/base.html" %}
{% load static %}
{% block title %}Cart{% endblock %}
{% block content %}
<!-- header -->
<header class="index-header py-5" style="background-image: url({% static 'img/bg-copy.jpg' %})">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shopping cart</h1>
            <p class="lead fw-normal text-white-50 mb-0">View your cart</p>
        </div>
    </div>
</header>
<!-- content page -->
<section class="py-3">
    <div class="container">
        {% if cart_products %}
        {% for product in cart_products %}
        <div class="card mb-3 shadow">
            <div class="row g-0">
              <div class="col-md-3">
                <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="">
              </div>
              <div class="col-md-6 offset-md-1">
                <div class="card-body">
                  <h5 class="card-title text-center">{{ product.name }}</h5>
                  <p class="card-text text-center">{{ product.description }}</p>
                  <div class="container text-center py-3">
                    {% if not product.is_sale %}
                    <!-- Product price-->
                    ${{ product.price }}
                  {% else %}
                    <strike>${{ product.price }}</strike>
                    &nbsp;
                    <em><strong>${{ product.sale_price }}</strong></em> 
                  {% endif %}
                  <!-- quantity box -->
                  <div class="row justify-content-center mt-2">
                    <div class="col-md-3">Quantity:</div>
                    <div class="col-md-3">
                      <select class="form-select" id="quantityProducts">
                          
                        {% for key, value in quantities.items %}
                          {% if key == product.id|slugify %}
                            <option value="{{ value }}" selected>{{ value }}</option>
                          {% endif %}
                        {% endfor %}
                        
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                      </select>
                    </div>
                  </div>                    
                  </div>
                  <div class="container text-center">
                    <a href="{% url 'home' %}" class="btn btn-secondary">Go Back</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        {% else %}
        <div class="container">
            <h4>No Items yet</h4>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}