{% extends "store/base.html" %}
{% load static %}
{% block title %}About{% endblock %}
{% block content %}
<header class="index-header py-5" style="background-image: url({% static 'img/bg-copy.jpg' %})">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About us</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to our online shop</p>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="center">
            <div class="col-10 py-5">
                <p align="justify">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris elit lacus, rutrum maximus ornare ullamcorper, viverra id arcu. In nec nisl aliquam, rhoncus felis eu, finibus urna. Suspendisse gravida sem quis justo placerat tempor. Praesent condimentum erat sem, eu hendrerit ante lobortis id. Nunc volutpat a nulla vel vulputate. Curabitur luctus tellus dolor. Proin est mi, blandit at urna vel, congue ornare erat. Morbi pulvinar, elit eget feugiat porta, velit ipsum elementum enim, sit amet hendrerit est augue pharetra nulla.
                    <br>
                Donec non purus accumsan, iaculis libero sit amet, bibendum ipsum. Sed molestie tellus a quam semper tincidunt. Maecenas eu venenatis augue. Integer ultricies iaculis cursus. Vestibulum magna neque, pulvinar at venenatis id, porta et metus. Curabitur nibh felis, placerat in ipsum id, mollis finibus dolor. Cras arcu orci, eleifend quis urna nec, ullamcorper rhoncus ante. Quisque porta viverra turpis, non sollicitudin lectus maximus maximus. Integer facilisis ex orci, vitae convallis eros auctor a. Nunc congue pellentesque ligula eu eleifend. Etiam tempus eros ut nisi accumsan efficitur. In scelerisque dolor arcu, eget aliquet urna dignissim nec. Aliquam accumsan lorem nec felis bibendum suscipit. Quisque sodales vestibulum magna, lacinia rhoncus eros placerat et.
                    <br>
                Aenean ornare mauris quis nibh fringilla, varius suscipit mi finibus. Etiam non nunc eu nisl elementum imperdiet vitae pretium elit. Nunc a nibh nec mauris venenatis aliquet sed in quam. Pellentesque rutrum justo a enim ornare, iaculis molestie massa tristique. Suspendisse potenti. Sed varius, odio a posuere tincidunt, tortor dui semper ante, venenatis pretium diam tellus ut turpis. Vivamus pretium quam viverra massa sodales pharetra. Integer placerat porta magna. Vivamus eget dictum nulla, vel tincidunt nisl. Mauris volutpat nisi a hendrerit molestie. Aenean felis elit, ultrices nec feugiat eget, cursus id nibh. Maecenas ut lectus velit. Nullam gravida posuere nibh, at facilisis dui tincidunt a. Suspendisse ac arcu nibh. In cursus lacus eget efficitur accumsan.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}