{% extends "store/base.html" %}
{% load static %}
{% block title %}Login{% endblock %}
{% block content %}
<header class="index-header py-5" style="background-image: url({% static 'img/bg-copy.jpg' %})">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Login</h1>
            <p class="lead fw-normal text-white-50 mb-0">Login to your account</p>
        </div>
    </div>
</header>
<section class="py-3">
    <div class="container py-3 d-flex justify-content-center">
        <div class="row">
            <div class="col">
                <form method='POST' action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <input type="text" class="form-control" name="username" placeholder="Enter your username">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" name="password" placeholder="Enter your password">
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-secondary">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}